@import '../base/variables';

// Botón de iniciar sesión
.btn-iniciar-sesion {
  background-color: $color-principal;
  color: $color-fondo;
  font-family: $font-title;
  font-size: 18px;
  margin-top: 20px;
  padding: 11px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $color-secundario;
  }
}

// Botón de registro
.btn-registro {
  background-color: $color-principal;
  color: $color-fondo;
  font-family: $font-title;
  font-size: 18px;
  padding: 11px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $color-secundario;
  }
}

.btn-calendario {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 12px;
  gap: 8px;
  height: 40px;
  width: 50px;
  border: none;
  margin-top: -40px;
  background: $color-principal;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 100px;

  &:hover {
    background: $color-secundario;

    .svg-icon {
      animation: slope 1s linear infinite;
    }
  }

  .lable {
    line-height: 22px;
    font-size: 17px;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 1px;
  }
}

@keyframes slope {
  0% {}

  50% {
    transform: rotate(10deg);
  }

  100% {}
}