@import '../base/variables';

.footer {
    background-color: $color-secundario;
    color: #FFFFFF;
    font-family: $font-content;
    padding: 24px 32px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
  
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
    }
  
    &__text {
      font-size: 14px;
      text-align: center;
    }
  
    &__nav {
      display: flex;
      gap: 16px;
  
      .footer__link {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 14px;
        transition: color 0.3s ease;
      }
    }
  }
  @media (max-width: 768px) {
    .footer {
      padding: 16px;
  
      &__container {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
  
      &__text {
        margin-bottom: 1rem;
        font-size: 12px; // Reduce el tamaño del texto
      }
  
      &__nav {
        flex-direction: column;
        gap: 8px;
  
        .footer__link {
          font-size: 12px; // Ajusta el tamaño del texto para enlaces
        }
      }
    }
  }
  