@import '../base/variables';

// Estilos para el Header
.header {
    background-color: $color-principal;
    color: #FFFFFF;
    font-family: $font-title;
    padding: 1rem 2rem;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }

    &__logo {
        font-size: 1.8rem;
        font-weight: bold;
    }

    &__nav {
        &__menu {
            list-style: none;
            display: flex;
            gap: 24px;
            margin: 0;
            padding: 0;
        }

        &__menu-item {
            .header__link {
                text-decoration: none;
                color: #FFFFFF;
                font-size: 16px;
                transition: color 0.3s ease;

                &:hover {
                    color: $color-secundario;
                }
            }
        }
    }
}

.header__menu {
    list-style: none; // Elimina los puntos de la lista
    display: flex;
    gap: 24px; // Espaciado entre los elementos del menú
    margin: 0;
    padding: 0;
}

.header__menu-item {
    margin: 0;
}

.header__link {
    text-decoration: none; // Elimina el subrayado de los enlaces
    color: #FFFFFF; // Color del texto blanco
    font-size: 16px; // Ajusta el tamaño del texto
    transition: color 0.3s ease; // Transición suave al pasar el cursor
}
@media (max-width: 768px) {
    .header {
      padding: 0.8rem 1rem;
  
      &__container {
        flex-direction: column;
        align-items: flex-start;
      }
  
      &__logo {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
  
      &__nav {
        &__menu {
          flex-direction: column;
          gap: 12px; // Reduce el espacio entre los elementos
          text-align: left;
          width: 100%;
        }
      }
  
      .header__link {
        font-size: 14px; // Ajusta el tamaño del texto para móviles
      }
    }
  }
  

  
  