// Colores
$color-fondo: #FFFFFF;
$color-principal: #62b635;
$color-secundario: #1498a9;
$color-terciario: #7ac8e3;

// Tipografía
$font-title: 'Raleway', sans-serif;
$font-content: 'Raleway', sans-serif;